nav{
    background-color: #003049;
    height: 60px;
    color: #fcbf49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.menu li {
    display: inline;
    margin: 0 10px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
}

/* a:active{
    color: #fcbf49;
    transform: scale(1.7);
}
*/

.menu a:visited{
    color: #fcbf49;
    font-size: 18px;
} 


.menu a:active {
    color:#003049 !important;
  }



  .menu a:hover {
    color: #eae2b7;
  }

  .menu .active {
    color: #003049 !important;
    font-weight: 700 !important;
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      #fcbf49 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
